/* ------ Colors ------ */

// Primary Color
$primary-color: (
    '900': #000000,
    '800': #060606,
    '700': #2E1503,
    '600': #505050,
);

// Secondary Color
$secondary-color: (
    // Colores segun la maqueta (no coinciden)
    // '900': #FFAF6D,
    // '800': #FFA500,
    // Colores copiados desde el pdf
    '900': #FF7A00,
    '800': #FFA000,
);

// White Color
$white-color: (
    '900': #ffffff,
    '800': #dadada,
    '700': #dddddd,
);
/* ------ Fonts ------ */

// Families
$text-ff: 'Ubuntu', sans-serif;
$link-ff: 'Poppins', sans-serif;

// Sizes
$sizes: (
    '5x-large': 3.125rem,
    '4x-large': 2.8125rem,
    '3x-large': 2.5rem,
    '2x-large': 2.1875rem,
    'x-large': 1.875rem,
    'large': 1.25rem,
    'medium': 1rem,
    'small': .875rem,
    'x-small': .75rem
);

// Weights
$text-fw: (
    'bold': 700,
    'regular': 400,
);

/* ------ Breakpoints ------ */

$breakpoints: (
    'small': 576px,
    'medium': 768px,
    'large': 992px,
    'xl': 1200px,
);

/* ------ Border ------ */

// Radius
$br: .3125em;