// main.scss # Manifest File

/* -------------------------------------------------------------------------- */
/*                                  Abstracts                                 */
/* -------------------------------------------------------------------------- */
@import 
    'abstracts/variables',
    'abstracts/mixins';

/* -------------------------------------------------------------------------- */
/*                                   Vendors                                  */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                    Base                                    */
/* -------------------------------------------------------------------------- */
@import 
    'base/base',
    'base/typography',
    'base/reset';

/* -------------------------------------------------------------------------- */
/*                                   Layout                                   */
/* -------------------------------------------------------------------------- */
@import 
    'layout/header',
    'layout/grid',
    'layout/courses';

/* -------------------------------------------------------------------------- */
/*                                 Components                                 */
/* -------------------------------------------------------------------------- */
@import 
    'components/nav',
    'components/banner',
    'components/course',
    'components/buttons';

/* -------------------------------------------------------------------------- */
/*                                    Pages                                   */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   Themes                                   */
/* -------------------------------------------------------------------------- */