.course {
    border: 1px dotted map-get($white-color, '800' );
    display: flex;
    flex-direction: column;
    gap: .625rem;
    padding: .625rem;

    // Image
    &__image {
        overflow: hidden;
        &:hover,
        &:focus {
            img {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
        img {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transition: transform .4s ease-in-out;
            -o-transition: transform .4s ease-in-out;
            transition: transform .4s ease-in-out;
            width: 100%;
        }
    }

    // Title
    &__title {
        a {
            color: map-get($primary-color, '900' );
            text-decoration: none;
            transition: color .3s ease-in-out;
            &:hover,
            &:focus {
                color: map-get($secondary-color, '900' );
            }
        }
    }

    // Description
    &__description {
        text-align: justify;
    }

    // Teacher
    &__teacher {
        font-weight: map-get($text-fw, 'bold' );
    }

    // Stats
    &__stats {
        display: flex;
        gap: .9375rem;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

}