input,
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="select"],
textarea {
    border: 0;
    border-radius: $br;
    padding: .3125em .625em;
    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:focus {
        background-color: map-get($secondary-color, '800' );
        outline: none;
    }
}