.more-courses {
    margin-block-start: .625rem;

    // Title
    &__title {
        background-color: map-get($primary-color, '600' );
        color: map-get($white-color, '900' );
        margin-block-end: .625rem;
        padding-block: 5px;
        text-align: center;
    }

    // List
    &__list {
        margin: 0;
        padding-inline-start: 1.25rem;
        list-style-type: circle;
        
        a {
            color: map-get($primary-color, '700' );
            font-family: $link-ff;
            text-decoration: none;
            transition: color .3s ease-in-out;
            &:hover {
                color: map-get($secondary-color, '900' );
            }
        }
    }

    // Image
    &__image {
        display: flex;
        justify-content: center;
        margin-block-start: 1.875rem;
        svg {
            width: 9.375rem;
            #code {
                -webkit-animation: horizontalMove 2s ease-in-out alternate infinite;
                animation: horizontalMove 2s ease-in-out alternate infinite;
            }
            #gear {
                -webkit-animation: rotation 5s linear infinite both;
                animation: rotation 5s linear infinite both;
                -webkit-transform-origin: center center;
                -ms-transform-origin: center center;
                transform-origin: center center;
                transform-box: fill-box;
            }
        }
    }

}