.navbar {
    #toggler,
    label {
        display: none;
    }

    @include breakpoint-down(map-get($breakpoints, 'medium')) {
        .menu {
            max-height: 0;
            overflow: hidden;
            padding: 0;
            width: 100%;
            &__list {
                align-items: center;
                flex-direction: column;
                padding: 1.25rem;
            }
        }

        label {
            align-items: center;
            cursor: pointer;
            display: inline-flex;
            i {
                color: map-get($white-color, '900' );
                font-size: 1.875rem;
                -webkit-transition: color .3s ease-in-out;
                -o-transition: color .3s ease-in-out;
                transition: color .3s ease-in-out;
            }
            &:hover,
            &:focus {
                i {
                    color: map-get($secondary-color, '900' )
                }
            }
        }
        
        #toggler:checked ~ .menu {
            max-height: 100%;
        }

    }
}

.menu {
    &__list {
        display: flex;
        gap: 3.125em;
        list-style-type: none;
        a {
            color: map-get($white-color, '900' );
            font-weight: map-get($text-fw, 'bold' );
            text-decoration: none;
            -webkit-transition: color .3s ease-in-out;
            -o-transition: color .3s ease-in-out;
            transition: color .3s ease-in-out;
            &:hover,
            &:focus {
                color: map-get($secondary-color, '900' );
            }
        }
    }
    
}